<p>lista-usuarios works!</p>
<h2>Datos de los usuarios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>telefono</th>
            <th>email</th>
            <th>password</th>
            <th>acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.telefono}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.password}}</td>
            <td>
                <button  class="btn btn-info">
                    Actualizar
                </button>
                <button (click)="eliminarUsuario(usuario.id)" class="btn btn-info">
                    Eliminar
                </button>
            </td>
        </tr>
        <tr>

        </tr>
    </tbody>
</table>