<h3>Detalles del empleado</h3>
<div>
    <div>
        <label><b>ID : </b> {{ usuario.id }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ usuario.nombre }}</label>
    </div>
    <div>
        <label><b>Apellido : </b> {{ usuario.apellido }}</label>
    </div>
    <div>
        <label><b>Telefono : </b> {{ usuario.telefono }}</label>
    </div>
    <div>
        <label><b>Email : </b> {{ usuario.email }}</label>
    </div>
    <div>
        <label><b>Password : </b> {{ usuario.password }}</label>
    </div>
    <div>
       
        
    </div>
</div>