<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de usuario</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre"
                placeholder="Digite su nombre " />
            <label>Apellido : </label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="usuario.apellido" name="apellido"
                placeholder="Digite su apellido " />
            <label>Telefono : </label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="usuario.telefono" name="telefono"
                placeholder="Digite su telefono " />
                <label>Email : </label>
            <input type="text" class="form-control" id="email" [(ngModel)]="usuario.email" name="email"
                placeholder="Digite su email " />
                <label>Password : </label>
            <input type="text" class="form-control" id="password" [(ngModel)]="usuario.password" name="password"
                placeholder="Digite su password " />
        </div>

        <button class="btn btn-success" >Guardar</button>
    </form>
</div>